.music_lists.show {
  .videos {
    ul {
      list-style-type: none;
    }

    li {
      margin-bottom: 2rem;
    }

    .image {
      width: 30%;
      img {
        width: 300px;
      }
    }

    .description {
      width: 70%;
      font-size: 1.6rem;

    }
  }
}