<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="official-movie">
        <h3>公式動画</h3>
        <%= @m.name %>
        <% if @m.content.present? %>
          <img src="http://i.ytimg.com/vi/irsEhYKgGM8/maxresdefault.jpg" width="400px">
        <% else %>
        <p>
          <%= link_to 'Youtubeで見る', 'https://www.youtube.com/results?search_query=m.name' %>
        </p>
        <% end %>
      </div>
      <div class="ais-movies">
        <h3>AIS動画</h3>
        <ul>
          <% @m.ais_lists.each do |a| %>
            <li>
              <h4><%= a.title %></h4>
              <img src="http://i.ytimg.com/vi/<%= a.content %>/maxresdefault.jpg" width="400px">
              <p>公開日時: 2018-06-20</p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>