<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <% @music_lists.each do |m| %>
          <li>
            <%= link_to music_list_path(m) do %>
              <%= m.name %> - <%= m.artist %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>