<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li><%= @music.name %> - <%= @music.artist %></li>
      </ul>
    </div>
    <div class="col-md-12 media">
      <h3>AIS動画</h3>
      <ul>
      <% @music.youtubes.each do |y| %>
        <%= render 'layouts/media/youtube', y: y %>
      <% end %>
      </ul>
    </div>
  </div>
</div>